<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="static/css/gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
</head>
<body>
    <div class="wrapper">
        <div class="image">
            <img src="static/images/img1.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img2.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img3.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img4.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img5.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img6.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img7.jpeg" alt="">
        </div>
        <div class="image">
            <img src="static/images/img8.jpeg" alt="">
        </div>
    </div>
    <div class="gallery">
        <i class="fa-solid fa-xmark close"></i>
        <div class="gallery__inner">
            <img src="static/images/1069605.jpg" alt="" srcset="">
        </div>
        <div class="control prev">
            <i class="fa-solid fa-less-than"></i>
        </div>
        <div class="control next">
            <i class="fa-solid fa-greater-than"></i></div>
    </div>
    <script src="static/js/gallery.js"></script>
</body>
</html>